In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\digital\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install Pandas

Requirement already satisfied: Pandas in c:\users\digital\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\digital\anaconda3\lib\site-packages (from Pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\digital\anaconda3\lib\site-packages (from Pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\digital\anaconda3\lib\site-packages (from Pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\digital\anaconda3\lib\site-packages (from Pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\digital\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->Pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd

In [5]:
df_SC=pd.read_excel(r"D:\ROWAD DB\Final Project\north-america-retail-supply-chain-sales-analysis .xlsx")

In [6]:
df_SC.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Retail Sales People,Product ID,Category,Sub-Category,Product Name,Returned,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Cassandra Brandow,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,Not,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Cassandra Brandow,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Not,731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-12-06,2016-12-06,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Anna Andreadi,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,Not,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-11-10,2015-11-10,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Cassandra Brandow,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,Not,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-11-10,2015-11-10,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Cassandra Brandow,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,Not,22.3680,2,0.20,2.5164

In [9]:
df_SC.shape

(9994, 23)

In [11]:
df_SC.duplicated().sum()

0

In [13]:
df_SC.isnull().sum()

Row ID                 0
Order ID               0
Order Date             0
Ship Date              0
Ship Mode              0
Customer ID            0
Customer Name          0
Segment                0
Country                0
City                   0
State                  0
Postal Code            0
Region                 0
Retail Sales People    0
Product ID             0
Category               0
Sub-Category           0
Product Name           0
Returned               0
Sales                  0
Quantity               0
Discount               0
Profit                 0
dtype: int64

In [15]:
df_SC.nunique()

Row ID                 9994
Order ID               5009
Order Date             1237
Ship Date              1215
Ship Mode                 4
Customer ID             793
Customer Name           793
Segment                   3
Country                   1
City                    531
State                    49
Postal Code             631
Region                    4
Retail Sales People       4
Product ID             1862
Category                  3
Sub-Category             17
Product Name           1850
Returned                  2
Sales                  5825
Quantity                 14
Discount                 12
Profit                 7287
dtype: int64

In [17]:
df_SC.dtypes

Row ID                          int64
Order ID                       object
Order Date             datetime64[ns]
Ship Date              datetime64[ns]
Ship Mode                      object
Customer ID                    object
Customer Name                  object
Segment                        object
Country                        object
City                           object
State                          object
Postal Code                     int64
Region                         object
Retail Sales People            object
Product ID                     object
Category                       object
Sub-Category                   object
Product Name                   object
Returned                       object
Sales                         float64
Quantity                        int64
Discount                      float64
Profit                        float64
dtype: object