# Supply_Chain_Data_Exploration
## Categories:

1. Calling Libraries  
2. Reading Datasets From The Excel Sheet  
3. Data Exploration:  
   3.1. Defect_Type (Dataset) - 1st Sheet  
   3.2. Defect (Dataset) - 2nd Sheet  
   3.3. Material Type (Dataset) - 3rd Sheet  
   3.4. Defect Report (Dataset) - 4th Sheet  
   3.5. Plant (Dataset) - 5th Sheet  
   3.6. Category (Dataset) - 6th Sheet

## 1.Calling Liberaries <a id='A'></a>

In [1]:
import numpy as np
import pandas as pd

# 2.Reading Datasets From The Excel Sheet<a id='Z'></a>

In [18]:
df_Defect_Type=pd.read_excel(r"C:\Users\Digital\Downloads\Supplier Quality Analysis.xlsx",sheet_name="Defect Type")

In [20]:
df_Defect=pd.read_excel(r"C:\Users\Digital\Downloads\Supplier Quality Analysis.xlsx",sheet_name="Defect")

In [22]:
df_Material_Type=pd.read_excel(r"C:\Users\Digital\Downloads\Supplier Quality Analysis.xlsx",sheet_name="Material Type")

In [24]:
df_Defect_Report=pd.read_excel(r"C:\Users\Digital\Downloads\Supplier Quality Analysis.xlsx",sheet_name="Defect Report")

In [25]:
df_Plant=pd.read_excel(r"C:\Users\Digital\Downloads\Supplier Quality Analysis.xlsx",sheet_name="Plant")

In [26]:
df_Category=pd.read_excel(r"C:\Users\Digital\Downloads\Supplier Quality Analysis.xlsx",sheet_name="Category")

In [27]:
df_Vendor=pd.read_excel(r"C:\Users\Digital\Downloads\Supplier Quality Analysis.xlsx",sheet_name="Vendor")

# 3.Data Exploration<a id='B'></a>

##### 3.1.Defect_Type(Dataset) 1st Sheet <a id='C'></a>

In [33]:
df_Defect_Type.head()

  Defect Type  Defect Type ID  Sort
0   No Impact               1     3
1      Impact               3     2
2    Rejected               4     1

In [35]:
df_Defect_Type.shape

(3, 3)

In [37]:
df_Defect_Type.duplicated().sum()

0

In [39]:
df_Defect_Type.isnull().sum()

Defect Type       0
Defect Type ID    0
Sort              0
dtype: int64

In [41]:
df_Defect_Type.nunique()

Defect Type       3
Defect Type ID    3
Sort              3
dtype: int64

In [43]:
df_Defect_Type.dtypes

Defect Type       object
Defect Type ID     int64
Sort               int64
dtype: object

##### 3.2.Defect(Dataset) 2nd Sheet<a id='D'></a>

In [47]:
df_Defect.head()

                       Defect  Defect ID
0  Dimensions - Bad Finishing          1
1                   Bad Seams          2
2                   Bad Seams          3
3                   Bad Seams          4
4               Gap Variation          5

In [49]:
df_Defect.shape

(305, 2)

In [51]:
df_Defect.duplicated().sum()

0

In [53]:
df_Defect.isnull().sum()

Defect       0
Defect ID    0
dtype: int64

In [55]:
df_Defect.nunique()

Defect       272
Defect ID    305
dtype: int64

In [57]:
df_Defect.dtypes

Defect       object
Defect ID     int64
dtype: object

##### 3.3.Material Type(Dataset) 3rd Sheet <a id="E"></a>

In [61]:
df_Material_Type.head()

  Material Type  Material Type ID
0     Corrugate                 1
1          Film                 2
2        Carton                 3
3     Batteries                 4
4    Composites                 5

In [63]:
df_Material_Type.shape

(22, 2)

In [65]:
df_Material_Type.duplicated().sum()

0

In [67]:
df_Material_Type.isnull().sum()

Material Type       0
Material Type ID    0
dtype: int64

In [69]:
df_Material_Type.nunique()

Material Type       22
Material Type ID    22
dtype: int64

In [71]:
df_Material_Type.dtypes

Material Type       object
Material Type ID     int64
dtype: object

##### 3.4.Defect Report(Dataset) 4th Sheet<a id='F'></a>

In [74]:
df_Defect_Report.head()

,Date,Sub Category ID,Plant ID,Vendor ID,Material ID,Defect Type ID,Material Type ID,Defect ID,Defect Qty,Downtime min
0,2014-12-31,2,16,2,2126,3,4,27,0,60
1,2014-12-31,2,16,2,2126,3,4,27,0,60
2,2014-12-31,2,16,2,2137,3,6,281,1,60
3,2014-12-31,2,20,59,1439,3,8,295,9,10
4,2014-12-31,2,2,46,607,3,8,299,47,30

In [76]:
df_Defect_Report.shape

(6145, 10)

In [78]:
df_Defect_Report.duplicated().sum()

193

In [80]:
df_Defect_Report.isnull().sum()

Date                0
Sub Category ID     0
Plant ID            0
Vendor ID           0
Material ID         0
Defect Type ID      0
Material Type ID    0
Defect ID           0
Defect Qty          0
Downtime min        0
dtype: int64

In [86]:
df_Defect_Report.nunique()

Date                 601
Sub Category ID        6
Plant ID              24
Vendor ID            320
Material ID         2071
Defect Type ID         3
Material Type ID      22
Defect ID            300
Defect Qty          1259
Downtime min         143
dtype: int64

In [84]:
df_Defect_Report.dtypes

Date                datetime64[ns]
Sub Category ID              int64
Plant ID                     int64
Vendor ID                    int64
Material ID                  int64
Defect Type ID               int64
Material Type ID             int64
Defect ID                    int64
Defect Qty                   int64
Downtime min                 int64
dtype: object

##### 3.5.Plant(Dataset) 5th Sheet<a id='H'></a>

In [100]:
df_Plant.head()

              Plant  Plant ID
0  Grand Rapids, MI         1
1     Milwaukee, Wi         2
2   Springfield, IL         3
3       Chicago, IL         4
4  Indianapolis, IN         5

In [102]:
df_Plant.shape

(24, 2)

In [104]:
df_Plant.duplicated().sum()

0

In [106]:
df_Plant.isnull().sum()

Plant       0
Plant ID    0
dtype: int64

In [108]:
df_Plant.nunique()

Plant       24
Plant ID    24
dtype: int64

In [110]:
df_Plant.dtypes

Plant       object
Plant ID     int64
dtype: object

##### 3.6.Category(Dataset) 6th Sheet<a id='J'></a>

In [114]:
df_Category.head()

             Sub Category  Sub Category ID                Category
0              Electrical                1              Electrical
1               Logistics                2               Logistics
2  Materials & Components                3  Materials & Components
3             Mechanicals                4             Mechanicals
4               Packaging                5               Packaging

In [116]:
df_Category.shape

(6, 3)

In [118]:
df_Category.duplicated().sum()

0

In [120]:
df_Category.isnull().sum()

Sub Category       0
Sub Category ID    0
Category           0
dtype: int64

In [122]:
df_Category.nunique()

Sub Category       6
Sub Category ID    6
Category           6
dtype: int64

In [124]:
df_Category.dtypes

Sub Category       object
Sub Category ID     int64
Category           object
dtype: object

##### 3.7.Vendor(Dataset) 7th Sheet <a id='K'></a>

In [130]:
df_Vendor.head()

      Vendor  Vendor ID
0    Reddoit          1
1    Plustax          2
2     bamity          3
3  Quotelane          4
4     Viatom          5

In [132]:
df_Vendor.shape

(328, 2)

In [134]:
df_Vendor.duplicated().sum()

0

In [136]:
df_Vendor.isnull().sum()

Vendor       0
Vendor ID    0
dtype: int64

In [138]:
df_Vendor.nunique()

Vendor       326
Vendor ID    328
dtype: int64

In [140]:
df_Vendor.dtypes

Vendor       object
Vendor ID     int64
dtype: object